{% if services %}
    <table>
        <thead>
        <tr>
            <th>Lähtö</th>
            <th>Tulo</th>
            <th>Juna</th>
            <th>Paikkoja vapaana</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
        <tr>
            <td>{{ service.departure.time }} {{ service.departure.station }}</td>
            <td>{{ service.arrival.time }} {{ service.arrival.station }}</td>
            <td>{{ service.train }}</td>
            <td>{{ service.free_seats }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei vapaita junavuoroja.</p>
{% endif %}
