{% if vuorot %}
    <table>
        <thead>
        <tr>
            <th>Lähtö</th>
            <th>Tulo</th>
            <th>Juna</th>
            <th>Paikkoja vapaana</th>
        </tr>
        </thead>
        <tbody>
        {% for vuoro in vuorot %}
        <tr>
            <td>{{ vuoro.lahto.aika }} {{ vuoro.lahto.asema }}</td>
            <td>{{ vuoro.tulo.aika }} {{ vuoro.tulo.asema }}</td>
            <td>{{ vuoro.juna }}</td>
            <td>{{ vuoro.paikkoja_vapaana }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei vapaita junavuoroja.</p>
{% endif %}
