<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <title>MiniVR - reitinhaku</title>
</head>
<body>
<h1>Reitinhaku</h1>
<form action="/minivr/route/" method=get>
    <p><label for="from">Mistä: </label><input type="text" name="from" id="from" value="{{ from }}"></p>
    <p><label for="to">Mihin: </label><input type="text" name="to" id="to" value="{{ to }}"></p>
    <p>Kellonaika: <input type="text" name="h" size="2" maxlength="2" value="{{ h }}">
                   <input type="text" name="m" size="2" maxlength="2" value="{{ m }}"></p>
    <p>Päivämäärä: <input type="text" name="y"  size="4" maxlength="4" value="{{ y }}">
                   <input type="text" name="mo" size="2" maxlength="2" value="{{ mo }}">
                   <input type="text" name="d"  size="2" maxlength="2" value="{{ d }}"></p>
    <input type="radio" name="type" value="departure" checked="yes" id="departure"><label for="departure">Lähtöaika</label>
    <input type="radio" name="type" value="arrival" id="arrival"><label for="arrival">Saapumisaika</label>
    <input type="submit" value="Hae reitti">
</form>

{% if error %}
<hr>
<p><strong>{{ error }}</strong></p>
{% endif %}

{% for route in routes %}
    <hr>
    <table>
        <thead>
        <tr>
            <th>Vuoro</th>
            <th>Lähtöasema</th>
            <th>Lähtöaika</th>
            <th>Pääteasema</th>
            <th>Saapuu</th>
            <th>Hinta</th>
            <th colspan=2>Paikkoja vapaana</th>
        </tr>
        </thead>
        <tbody>
        {% for rr in route %}
        <tr>
            <td><a href="/minivr/service/{{ rr.start_stop.service.id }}/">{{ rr.start_stop.service }}</a></td>
            <td>{{ rr.start_stop.station }}</td>
            <td>{{ rr.start_time|time:"H:i" }}</td>
            <td>{{ rr.end_stop.station }}</td>
            <td>{{ rr.end_time|time:"H:i" }}</td>
            <td>{{ rr.price }}</td>

            <td>{{ rr.end_stop.service.free_seats }}</td>
            <td>
                <form action="/minivr/service/{{ rr.start_stop.service.id }}/reserve-simple/" method=post>
                {% csrf_token %}
                <input type=submit value="Varaa">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% if not routes and routes != None %}
<hr>
Ei reittiä!
{% endif %}

</body>
</html>
